#menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

#menu li {
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a.active {
  color: blue;
  font-weight: bold;
}
